@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  --bg: hsl(27, 66%, 92%);

  --bg-main: hsl(33, 100%, 98%);

  --txt-light: hsl(28, 10%, 53%);
  --txt-dark: hsl(25, 47%, 15%);

  --clr-bar: hsl(10, 79%, 65%);
  --clr-bar-hi: hsl(186, 34%, 60%);

}

.txt__light {
  color: var(--txt-light);
}

.txt__dark {
  color: var(--txt-dark);
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}

header {
  background-color: var(--clr-bar);
  color: var(--bg-main);
}

main {
  background-color: var(--bg-main);
}

hr {
  border: 1.5px solid var(--bg);
}

.day-container {
  display: flex;
  gap: .5em;
  flex-direction: row-reverse;
  transform: rotate(180deg);
}

.day-container>* {
  flex: 1;
}

.day-container>*>* {
  color: var(--txt-light);
}

.day {
  transform: rotate(180deg);
}

.day__bar {
  background-color: var(--clr-bar);
}

.day__bar-highest {
  background-color: var(--clr-bar-hi);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}