@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  --clr-bar: hsl(10, 79%, 65%);
  --clr-bar-hi: hsl(186, 34%, 60%);
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.day-container {
  display: flex;
  gap: .5em;
  flex-direction: row-reverse;
  transform: rotate(180deg);
}

.day-container>* {
  flex: 1;
}

.day {
  transform: rotate(180deg);
}

.day__bar {
  background-color: var(--clr-bar);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}