@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  --bg: hsl(27, 66%, 92%);

  --bg-main: hsl(33, 100%, 98%);

  --txt-light: hsl(28, 10%, 53%);
  --txt-dark: hsl(25, 47%, 15%);

  --clr-bar: hsl(10, 79%, 65%);
  --clr-bar-hi: hsl(186, 34%, 60%);

}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  max-width: 600px;
  margin: auto;
  margin-top: 50vh;
  transform: translateY(-50%);
}

p {
  margin: 0;
  padding: 0;
}

hr {
  border: 1.5px solid var(--bg);
}

.txt__light {
  color: var(--txt-light);
}

.txt__dark {
  color: var(--txt-dark);
}

.header {
  background-color: var(--clr-bar);
  padding: 1rem;
  border-radius: .8rem;
  margin: 1rem;
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  background-position: right 1rem top 50%;
}

.header__txt {
  color: var(--bg);
}

.header__num {
  color: var(--bg-main);
  font-weight: 700;
  font-size: 1.5rem;
}

.main {
  background-color: var(--bg-main);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: .8rem;
  margin: 1rem;
}

.main__head {
  font-weight: 700;
  font-size: 1.5rem;
}

.main__total {
  font-weight: 700;
  font-size: 2rem;
  float: left;
}

.main__right {
  text-align: right;
}

.main__percent {
  font-weight: 700;
}

.day-container {
  display: flex;
  /* gap: .5em; */
  flex-direction: row-reverse;
  transform: rotate(180deg);
  margin-top: 3rem;
}

.day-container>div {
  flex: 1;
  min-width: 0;
}

.day-container>*>* {
  color: var(--txt-light);
}

.day {
  transform: rotate(180deg);
  text-align: center;
}

.day__bar:hover,
.day__bar-highest:hover {
  opacity: .5;
}

.day__bar {
  background-color: var(--clr-bar);
  /* margin: 0 .2rem .5rem; */
}

.day__bar-highest {
  background-color: var(--clr-bar-hi);
  /* margin: 0 .2rem .5rem; */
}

.day__bar,
.day__bar-highest {
  border-radius: .2rem;
  margin: .3rem .3rem;
}

.day__bar:hover+.day__spend,
.day__bar-highest:hover+.day__spend {
  visibility: visible;
}

.day__spend {
  visibility: hidden;
  transform: rotate(180deg);
  background-color: var(--txt-dark);
  color: var(--bg-main);
  font-size: .6rem;
  padding: .2rem;
  border-radius: .2rem;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}